# Main Pipeline Orchestrator
# This file orchestrates CI and CD pipelines
name: PowerShell-SQL-Automation-$(Date:yyyyMMdd)$(Rev:.r)

trigger:
  branches:
    include:
    - main
    - develop
  paths:
    include:
    - Scripts/*
    - Modules/*
    - Config/*
    - pipelines/*

pr:
  branches:
    include:
    - main
  paths:
    include:
    - Scripts/*
    - Modules/*
    - Config/*
    - pipelines/*

# Global variables
variables:
  vmImageName: 'windows-latest'
  servicePrincipalName: 'sp-sql-automation'
  tableName: 'TestTable'

resources:
  repositories:
  - repository: self
    type: github
    name: mukeshkumartech/Powershell-ADF-SQL  # Replace with your GitHub repo
    ref: refs/heads/$(Build.SourceBranch)

stages:
#################################################################
# STAGE 1: CONTINUOUS INTEGRATION
#################################################################
- stage: CI
  displayName: 'Continuous Integration'
  jobs:
  - template: pipelines/ci-pipeline.yml
    parameters:
      vmImageName: $(vmImageName)

#################################################################
# STAGE 2: CONTINUOUS DEPLOYMENT - DEVELOPMENT
#################################################################
- stage: CD_Development
  displayName: 'Deploy to Development'
  dependsOn: CI
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/develop'))
  variables:
  - group: SQL-Database-Dev
  jobs:
  - template: pipelines/cd-pipeline.yml
    parameters:
      environment: 'Development'
      vmImageName: $(vmImageName)
      variableGroup: 'SQL-Database-Dev'
      sqlServerVar: 'DEV_SQL_SERVER'
      databaseNameVar: 'DEV_DATABASE_NAME'
      keyVaultNameVar: 'DEV_KEY_VAULT_NAME'
      serviceConnectionVar: 'DEV_SERVICE_CONNECTION'
      servicePrincipalName: $(servicePrincipalName)
      tableName: $(tableName)
      runMode: 'single'
      runIntervalMinutes: 1
      maxIterations: 1

#################################################################
# STAGE 3: CONTINUOUS DEPLOYMENT - PRODUCTION
#################################################################
- stage: CD_Production
  displayName: 'Deploy to Production'
  dependsOn: CI
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
  variables:
  - group: SQL-Database-Prod
  jobs:
  - template: pipelines/cd-pipeline.yml
    parameters:
      environment: 'Production'
      vmImageName: $(vmImageName)
      variableGroup: 'SQL-Database-Prod'
      sqlServerVar: 'PROD_SQL_SERVER'
      databaseNameVar: 'PROD_DATABASE_NAME'
      keyVaultNameVar: 'PROD_KEY_VAULT_NAME'
      serviceConnectionVar: 'PROD_SERVICE_CONNECTION'
      servicePrincipalName: $(servicePrincipalName)
      tableName: $(tableName)
      runMode: 'continuous'
      runIntervalMinutes: 30
      maxIterations: 48
