# Main Pipeline Orchestrator
# This file orchestrates CI and CD pipelines
name: PowerShell-SQL-Automation-$(Date:yyyyMMdd)$(Rev:.r)

trigger:
  branches:
    include:
    - main
    - develop
  paths:
    include:
    - Scripts/*
    - Modules/*
    - Config/*
    - pipelines/*

pr:
  branches:
    include:
    - main
  paths:
    include:
    - Scripts/*
    - Modules/*
    - Config/*
    - pipelines/*

# Global variables
variables:
  vmImageName: 'windows-latest'
  servicePrincipalName: 'sp-sql-automation'
  tableName: 'EmployeeData'

resources:
  repositories:
  - repository: self
    type: github
    name: mukeshkumartech/Powershell-ADF-SQL  # Replace with your GitHub repo

stages:
#################################################################
# STAGE 1: CONTINUOUS INTEGRATION
#################################################################
- stage: CI
  displayName: 'Continuous Integration'
  jobs:
  - template: pipelines/ci-pipeline.yml
    parameters:
      vmImageName: $(vmImageName)



